{% extends 'structure.html' %}

{% block title%} Generar codigo {% endblock %}
{% block slider %}{% endblock %}
{% block body %} 

    
      <table class="responsive-table striped black-text">
        <thead>
          <tr>
              <th data-field="price">CLIENTE</th>
              <th data-field="id"><center>FOLIO</center></th>
              <th data-field="name"><CENTER>MODELO</CENTER></th>
              <th data-field="price"><center>ULTIMO SERVICIO</center></th>
              <th></th>
              <th></th>
              <th></th>
          </tr>
        </thead>

        <tbody>
        {% for client in Lclients %}
          <tr>
            <td>{{client.client.nombre}}</td>
            <td><center>{{client.id}}</center></td>
            <td><center>{{client.modelo}}</center></td>
            <td><center>{{client.fecha_ultimo_servcio}}</center></td>
            <td>
              <!-- form service -->
            <form>
            <a class="waves-effect waves-light btn green modal-trigger" name="{{ client.id }}" href="#modalservice{{client.id}}"><i class="material-icons left">build</i>SERVICIO</a>
            </td>

            <div id="modalservice{{client.id}}" class="modal">
              
        <div class="modal-content">
          <h5>{{client.nombre}}</h5>
          <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" disabled="disabled">
          <label class="black-text" for="icon_prefix">{{ client.nombre }}</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">business</i>
          <input id="icon_prefix" type="text" class="validate" disabled="disabled">
          <label class="black-text" for="icon_prefix">{{ client.empresa }}</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">my_location</i>
          <input id="icon_prefix" type="text" class="validate" disabled="disabled">
          <label class="black-text" for="icon_prefix">{{ client.direccion }}</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_prefix" type="text" class="validate" disabled="disabled">
          <label class="black-text" for="icon_prefix">{{ client.telefono }}</label>
        </div>


        <div class="input-field col s6">
          <i class="material-icons prefix">stay_current_portrait</i>
          <input id="icon_prefix" type="text" class="validate" disabled="disabled">
          <label class="black-text" for="icon_prefix">{{ client.movil }}</label>
        </div>


        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="icon_prefix" type="text" class="validate" disabled="disabled">
          <label class="black-text" for="icon_prefix">{{ client.email }}</label>
        </div>
                <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
                </div>

        </div>
          </form>  
          <!-- fin service -->
            </td>
            <td>
            <!-- form view -->
            <form>
            <a class="waves-effect waves-light btn orange modal-trigger" name="{{ client.id }}" href="#modalview{{client.id}}"><i class="material-icons left">visibility</i>Detalles</a>
            </td>

            <div id="modalview{{client.id}}" class="modal">
              
        <div class="modal-content">
          
          <div class="col s12 m5">
        <div class="card-panel teal">
            <div class="input-field col s12">
          <i class="material-icons prefix white-text">account_circle</i>
          <input class="black-text" class="black-text" disabled value="{{ client.client.nombre }}" id="disabled" type="text" class="validate">
          <label class="black-text" for="disabled">CLIENTE</label>
          </div>

          <div class="input-field col s12">
          <i class="material-icons prefix white-text">account_circle</i>
          <input class="black-text" disabled value="{{ client.modelo_imp }}" id="disabled" type="text" class="validate">
          <label class="black-text" for="disabled">MODELO DE IMPRESORA</label>
          </div>

          <div class="input-field col s12">
          <i class="material-icons prefix white-text">account_circle</i>
          <input class="black-text" disabled value="{{ client.modelo }}" id="disabled" type="text" class="validate">
          <label class="black-text" for="disabled">MODELO DE CARTUCCHO</label>
          </div>          

          <div class="input-field col s12">
          <i class="material-icons prefix white-text">account_circle</i>
          <input class="black-text" disabled value="{{ client.numero_recarga_maxima }}" id="disabled" type="text" class="validate">
          <label class="black-text" for="disabled">NUMERO MAXIMO DE RECARGAS</label>
          </div>
        </div>
      </div>





      <div class="col s12 m5">
        <div class="card-panel teal">
            <div class="input-field col s12">
          <i class="material-icons prefix white-text">account_circle</i>
          <input class="black-text" disabled value="{{ client.fecha_ultimo_servcio }}" id="disabled" type="text" class="validate">
          <label class="black-text" for="disabled">FECHA DE ULTIMO SERVICIO</label>
          </div> 

          <div class="input-field col s6">
          <i class="material-icons prefix white-text">mode_edit</i>
          <textarea disabled id="icon_prefix2" class="materialize-textarea black-text">{{ client.descripcion }}</textarea>
          <label class="black-text" for="icon_prefix2">DESCRIPCION</label>
          </div>

          <div class="input-field col s6">
          <i class="material-icons prefix white-text">mode_edit</i>
          <textarea disabled id="icon_prefix2" class="materialize-textarea black-text">{{ client.observaciones }}</textarea>
          <label class="black-text" for="icon_prefix2">OBSERVACIONES</label>
          </div>
        </div>
      </div>





      <div class="col s12 m5">
        <div class="card-panel teal">
          <div class="input-field col s12">
          <i class="material-icons prefix white-text">account_circle</i>
          <input class="black-text" disabled value="{{ client.cilindro_drum }}" id="disabled" type="text" class="validate">
          <label class="black-text" for="disabled">NUMERO DE USOS [CILINDRO-DRUM]</label>
          </div>            
          
          <div class="input-field col s12">
          <i class="material-icons prefix white-text">account_circle</i>
          <input class="black-text" disabled value="{{ client.rodillo_magnetico }}" id="disabled" type="text" class="validate">
          <label class="black-text" for="disabled">NUMERO DE USOS [RODILLO MAGNETICO]</label>
          </div>            

          <div class="input-field col s12">
          <i class="material-icons prefix white-text">account_circle</i>
          <input class="black-text" disabled value="{{ client.rodillo_carga }}" id="disabled" type="text" class="validate">
          <label class="black-text" for="disabled">NUMERO DE USOS [RODILLO DE CARGA]</label>
          </div>                      

          <div class="input-field col s12">
          <i class="material-icons prefix white-text">account_circle</i>
          <input class="black-text" disabled value="{{ client.cuchilla_impiadora }}" id="disabled" type="text" class="validate">
          <label class="black-text" for="disabled">NUMERO DE USOS [CUCHILLA LIMPIADORA]</label>
          </div>


          <div class="input-field col s12">
          <i class="material-icons prefix white-text">account_circle</i>
          <input class="black-text" disabled value="{{ client.cuchilla_dosificadora }}" id="disabled" type="text" class="validate">
          <label class="black-text" for="disabled">NUMERO DE USOS [CUCHILLA DOSIFICADORA]</label>
          </div>
        </div>
      </div>

          
                <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
                </div>

        </div>
          </form>  
          <!-- fin view -->
            <td>
            
            <!-- Edit -->
          <form action="/list_cartridges_edit" method="POST"> {% csrf_token %}

            <a class="waves-effect waves-light btn blue modal-trigger" href="#modaledit{{client.id}}"><i class="material-icons left">edit</i>EDITAR</a>
            

            

        <div id="modaledit{{client.id}}" class="modal">
              
        <div class="modal-content">


          <div class="input-field col s12 l6">
          <i class="material-icons prefix black-text">print</i>
          <input id="icon_prefix" type="text" class="validate" placeholder="Modelo de impresora" name="modelo_impresora" value="{{ client.modelo_imp }}"></input>
          <label class="black-text" for="disabled">MODELO DE IMPRESORA</label>
        </div>

    <div class="input-field col s12 l6">
          <i class="material-icons prefix black-text">code</i>
          <input id="icon_prefix" type="text" class="validate" placeholder="Modelo de toner" name="modelo_toner" value="{{ client.modelo }}"></input>
          <label class="black-text" for="disabled">MODEO DE CARTUCHO</label>
        </div>

    
    <div class="input-field col s12 l6">
          <i class="material-icons prefix black-text">cached</i>
          <input id="icon_prefix" type="number" class="validate" placeholder="Numero de recargas maxima" name="numero_recarga" value="{{client.numero_recarga_maxima}}"></input>
          <label class="black-text" for="disabled">NUMERO MAXIMO DE RECARGAS</label>
        </div>


    <div class="input-field col s12 l6">
        <select name="clientselect">
          <option disabled selected>Cliente</option>
          
          {% for client0 in Lclients0 %}
            <option value="{{client0.id}}">{{client0.nombre}} ({{client0.empresa}}) ({{client0.direccion}})</option>
          {% endfor %}

        </select>
        
    </div>
    
    <div class="input-field col s12">
          <i class="material-icons prefix black-text">description</i>
          <textarea id="icon_prefix" class="materialize-textarea" name="descripcion">{{client.descripcion}}</textarea>
          <label  for="icon_prefix2">Descripcion</label>
        </div>


        <div class="input-field col s12">
          <i class="material-icons prefix black-text">pageview</i>
          <textarea id="icon_prefix" class="materialize-textarea" name="observaciones">{{client.observaciones}}</textarea>
          <label for="icon_prefix2">Observaciones</label>
        </div>
      

        <div class="modal-footer">

                <button type="submit" class="modal-close btn waves-effect waves-light" name="id" value="{{client.id}}">GUARDAR <i class="material-icons right">save</i></button>

                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CANCEL</a>
        </div>

        </div>
          </form>
            <!-- Find edit -->

            </td>
            <!-- Form delete -->
            <td>
            <form action="/list_cartridges_delete" method="POST"> {% csrf_token %}

            <a class="waves-effect waves-light btn red modal-trigger" name="id" href="#modaldelete{{client.id}}"><i class="material-icons left">delete</i>Eliminar</a>
            

            <div id="modaldelete{{client.id}}" class="modal">
              <div class="modal-content">
                <h4>ELIMINAR CARTUCHO CON NUMERO : [ {{client.id}} ]</h4>
                <p>
                ESTA SEGURO QUE DESEA ELIMINAR EL CARTUCHO?.
                <br><br>
                CLIENTE: {{client.client.nombre}}
                <br><br>DESCRIPCION:<br>
                {{client.descripcion}}
                <br><br>OBSERVACIONES:<br>
                {{client.observaciones}}
                </p>
                </div>
                <div class="modal-footer">

                <button value="{{ client.id }}" type="submit" class="modal-close btn waves-effect waves-light" name="id">ELIMINAR <i class="material-icons right">delete</i></button>

                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
              </div>
            </div>
          </td>
          </form>
          <!-- fin delete-->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    
<ul class="pagination center">
    <span class="step-links">
        {% if Lclients.has_previous %}
            <a class="material-icons large" href="?page={{ Lclients.previous_page_number }}">chevron_left</a>
        {% endif %}

        <span class="current">
            Pagina {{ Lclients.number }} de {{ Lclients.paginator.num_pages }}.
        </span>

        {% if Lclients.has_next %}
            <a class="material-icons large" href="?page={{ Lclients.next_page_number }}">chevron_right</a>
        {% endif %}
    </span>
</ul>

<!-- Modal search clients -->
  <div id="DetallesClients" class="modal">
    <div class="modal-content">
      <span class="black-text">
        
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" disabled="disabled">
          <label for="icon_prefix">First Namssssqa</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">business</i>
          <input id="icon_prefix" type="text" class="validate" disabled="disabled">
          <label for="icon_prefix">First Name</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">my_location</i>
          <input id="icon_prefix" type="text" class="validate" disabled="disabled">
          <label for="icon_prefix">First Name</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_prefix" type="text" class="validate" disabled="disabled">
          <label for="icon_prefix">First Name</label>
        </div>


        <div class="input-field col s6">
          <i class="material-icons prefix">stay_current_portrait</i>
          <input id="icon_prefix" type="text" class="validate" disabled="disabled">
          <label for="icon_prefix">First Name</label>
        </div>


        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="icon_prefix" type="text" class="validate" disabled="disabled">
          <label for="icon_prefix">First Name</label>
        </div>


        <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
        </div>

      </span>
    </div>
  </div>  
            
{% endblock %}