{% extends 'structure.html' %}

{% block title %} Login {%endblock%}
{% block menu %}{%endblock%}

{% block body %}
		<body class = "grey lighten-4" >
		<br>

		<div class="container">
		<div class="">
		<div class="col m6">

		<div class="col s6 z-depth-6 card-panel  grey lighten-5">
		<form class="login-form" method="POST"> {% csrf_token %}
		<div class="row">
		
		{% if user.is_authenticated %}
			<script type="text/javascript">
			window.location="/manage";
			</script> 
		{% endif %}
		
		
		<div class="input-field col s12 center">
		<img src="https://cdn2.iconfinder.com/data/icons/thesquid-ink-40-free-flat-icon-pack/64/printer-2-128.png" alt="" class="responsive-img valign profile-image-login">
		<p class="center login-form-text">Manage catbridge</p>
		</div>
		</div>

		<div class="row margin">
		<div class="input-field col s12">
		<i class="mdi-action-account-circle prefix"></i>
		<input name="username" class="validate" id="username" type="text" placeholder = "usuario">
		</div>
		</div>

		<div class="row margin">
		<div class="input-field col s12">
		<i class="mdi-action-lock prefix"></i>
		<input name="password" id="password" type="password" placeholder = "*****">
		</div>
		</div>

		<div class="row">          
		<div class="input-field col s12 m12 l12  login-text">
		<input type="checkbox" id="remember-me" />
		<label for="remember-me">Mantener session iniciada.</label>
		</div>
		</div>
		<br>
		<div class="row">
		<div class="input-field col s12">
		<button type="submit" class="btn waves-effect waves-light col s12">Ingresar</button>
		</div>
		</div>

		<div class="row">
		<div class="input-field col s6 m6 l6">
		<p class="margin medium-small"><a href="register.html">Soy cliente!</a></p>
		</div>

		<div class="input-field col s6 m6 l6">
		<p class="margin right-align medium-small"><a href="forgot-password.html">Consultar codigo</a></p>
		</div>          
		</div>

		</form>
		</div>

		</div>
		</div>
{% endblock %}

{% block footer %}{%endblock%}