{% extends 'structure.html' %}

{% block title %} Login {%endblock%}
{% block menu %}{%endblock%}
{% block slider %}{%endblock%}

{% block body %}
	
	<script type="text/javascript">
    $(document).ready(function(){
      $('.modal-trigger').leanModal();
    });
   </script>

		<body class = "grey lighten-4" >
		<br>
<div class="container">
		<div class="">
		<div class="col m6">

		<div class="col s6 z-depth-6 card-panel  grey lighten-5">
		<form class="login-form" method="POST"> {% csrf_token %}
		<div class="row">
		
		{% if user.is_authenticated %}
			<script type="text/javascript">
			window.location="/manage";
			</script> 
		{% endif %}
		
		
		<div class="input-field col s12 center">
		<img src="https://cdn2.iconfinder.com/data/icons/thesquid-ink-40-free-flat-icon-pack/64/printer-2-128.png" alt="" class="responsive-img valign profile-image-login">
		<p class="center login-form-text">Manage catbridge</p>
		</div>
		</div>

		<div class="row margin">
		<div class="input-field col s12">
		<i class="mdi-action-account-circle prefix"></i>
		<input name="username" class="validate" id="username" type="text" placeholder = "usuario">
		</div>
		</div>

		<div class="row margin">
		<div class="input-field col s12">
		<i class="mdi-action-lock prefix"></i>
		<input name="password" id="password" type="password" placeholder = "*****">
		</div>
		</div>

		<div class="row">          
		<div class="input-field col s12 m12 l12  login-text">
		<input type="checkbox" id="remember-me" />
		<label for="remember-me">Mantener session iniciada.</label>
		</div>
		</div>
		<br>
		<div class="row">
		<div class="input-field col s12">
		<button type="submit" class="btn waves-effect waves-light col s12">Ingresar</button>
		</div>
		</div>

		<div class="row">
		<div class="input-field right">
			<a href="#modalcolsult" class="modal-trigger">Consultar cartucho</a>
		</div>          
		</div>

		</form>
		</div>

		</div>
		</div>

<!-- Modal search cartridges -->
  <div id="modalcolsult" class="modal">
    <div class="modal-content">
      <span class="black-text">
        <h4>Ingrese codigo que desea consultar.</h4>
        
    <form action="/consult_id_cartridge"  class="col s12" method="POST"> {% csrf_token %}
        
        <div class="input-field col s12">
          <i class="material-icons prefix">search </i>
          <input id="icon_prefix" type="number" class="validate" autofocus="true" name="id">
          <label for="icon_prefix">Codigo de cartucho</label>
        </div>

        <center>
          <button type="submit" class="modal-action modal-close btn waves-effect waves-light col s12">Ingresar</button>
        </center>
    
    </form>  

      </span>
    </div>
  </div>
{% endblock %}

{% block footer %}{%endblock%}