{% extends 'structure.html' %}

{% block title%} Manage {% endblock %}

{% block body %}
   <div class="row">

  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header"><i class="material-icons">credit_card</i>Codigos</div>
      <div class="collapsible-body">
        
      <!-- Inicia code numero de cartucho-->
      <div class="row">
        sss
      </div>
      <!-- Fin-->

      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">supervisor_account</i>Clientes</div>
      <div class="collapsible-body">
        <!-- Inicia codigo clientes-->
          <div class="row">
             <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Clientes</span>
              <p>
                Gestiona tus clientes, agrega, edita, elimina y modifica de a cuerdo a tus necesidades.
              </p>
            </div>
            <div class="card-action right-align">
              <a href="/list_clients?page=1">Gestionar</a>
              <a href="/newclient">Agregar</a>
            </div>
          </div>
        </div>

         <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content indigo-text">
              
      <ul class="collection with-header">
        <li class="collection-header"><h5><center>Agregados recientemente</center></h5></li>
        
        {% for client in clients %}
          <li class="collection-item"><div>{{client.nombre | slice:'0:15'}}<a href="/list_clients_id/{{client.id}}" class="secondary-content"><i class="material-icons">pageview</i></a></div></li>
        {%endfor%}
        

      </ul>

            </div>
            <div class="card-action right-align">
              <a href="/list_clients?page=1">Ver todos</a>
            </div>
          </div>
        </div>

         <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><center>Buscar cliente</center></span>
                <br>
                <div class="nav-wrapper">
                <form action="/list_clients" method="POST"> {% csrf_token %}
                <div class="input-field">
                <input type="text" class="validate center-align" name="search" required>
                <label for="search"><i class="material-icons">search</i></label>
                </div>
                </form>
                </div>
            
            </div>
          </div>
        </div>
          </div>
        <!--fin -->
      </div>
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">speaker_notes</i>Registro de actividad</div>
      <div class="collapsible-body">
        <div class="row">
        {% for log in Llogs %}
          <div class="col s12 m4">
            <div class="card-panel teal hoverable">
              <span class="white-text">
                <blockquote><strong># {{log.id}} - </strong>{{log.registro|slice:'0:70'}}...</blockquote>
              </span>
              <div class="footer-copyright right-align white-text">
            {{log.fecha}} - <a class="btn-floating btn-small waves-effect waves-light green modal-trigger" href="#ModalLog{{log.id}}"><i class="material-icons">clear_all</i></a></div>
            <div id="ModalLog{{log.id}}" class="modal">
            <div class="modal-content">
            <p class="black-text center-align"><strong># {{log.id}} - </strong>{{log.registro}}
            <br><br>
            {{log.fecha}}
            <br><br>
            <button class="modal-close btn waves-effect waves-teal"><i class="large material-icons">thumb_up</i></button>  
            </p>
            </div>
            </div>
            </div>
          </div>
        {%endfor%}  
        </div>
        <br>
        <ul class="pagination center">
    {%if Llogs.number > 1%}
      <li class="waves-effect"><a href="?page={{ Llogs.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {%else%}
      <li class="disabled"><i class="material-icons">chevron_left</i></li>
    {%endif%}
    
      {% for log in page_range %}
      
      {%if log == Llogs.number%}
        <li class="active"><a href="?page={{log}}">{{log}}</a></li>
      {%else%}  
        <li class="waves-effect"><a href="?page={{log}}">{{log}}</a></li>
      {%endif%}
      
      
      
    {%endfor%}  

    {%if Llogs.number < count %}
      <li class="waves-effect"><a href="?page={{ Llogs.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
    {%else%}
      <li class="disabled"><i class="material-icons">chevron_right</i></li>
    {%endif%}

    
  </ul>

      <br>
      </div>
  </li>
      </div>
      </div>
    
{% endblock %}