{% extends 'structure.html' %}

{% block title%} Manage {% endblock %}

{% block body %}
   <div class="row">

  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header"><i class="material-icons">credit_card</i>Codigos</div>
      <div class="collapsible-body">
        
      <!-- Inicia codigo componenete-->
        <div class="col s12 l4">
          <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://materializecss.com/images/office.jpg">
              </div>

                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Generar codigo<i class="material-icons right">more_vert</i></span>
                    <center><a class="btn-floating btn-large waves-effect waves-light red" href="/newclient"><i class="material-icons">add</i></a></center>
                  </div>

                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Generar codigo<i class="material-icons right">close</i></span>

                          <blockquote>
                          <p class="flow-text">
                          Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.
                          </p>
                          </blockquote>
                      </div>
          </div>
        </div>



<div class="col s12 l4">
          <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://materializecss.com/images/office.jpg">
              </div>

                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Consultar codigo<i class="material-icons right">more_vert</i></span>
                    <center><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">search</i></a></center>
                  </div>

                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Consultar codigo<i class="material-icons right">close</i></span>

                          <blockquote>
                          <p class="flow-text">
                          Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.
                          </p>
                          </blockquote>
                      </div>
          </div>
        </div>





        <div class="col s12 l4">
          <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://materializecss.com/images/office.jpg">
              </div>

                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Modificar codigo<i class="material-icons right">more_vert</i></span>
                    <center><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">mode_edit</i></a></center>
                  </div>

                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Modificar codigo<i class="material-icons right">close</i></span>

                          <blockquote>
                          <p class="flow-text">
                          Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.
                          </p>
                          </blockquote>
                      </div>
          </div>
        </div>
      <!-- Fin-->

      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">supervisor_account</i>Clientes</div>
      <div class="collapsible-body">
        <!-- Inicia codigo-->
          <div class="col s12 l4">
          <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://materializecss.com/images/office.jpg">
              </div>

                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Nuevo cliente<i class="material-icons right">more_vert</i></span>
                    <center><a class="btn-floating btn-large waves-effect waves-light red" href="/newclient"><i class="material-icons">add</i></a></center>
                  </div>

                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Agregar cliente<i class="material-icons right">close</i></span>

                          <blockquote>
                          <p class="flow-text">
                          Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.
                          </p>
                          </blockquote>
                      </div>
          </div>
        </div>



<div class="col s12 l4">
          <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://materializecss.com/images/office.jpg">
              </div>

                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Consultar cliente<i class="material-icons right">more_vert</i></span>
                    <center><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">search</i></a></center>
                  </div>

                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Consultar cliente<i class="material-icons right">close</i></span>

                          <blockquote>
                          <p class="flow-text">
                          Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.
                          </p>
                          </blockquote>
                      </div>
          </div>
        </div>





        <div class="col s12 l4">
          <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://materializecss.com/images/office.jpg">
              </div>

                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Modificar cliente<i class="material-icons right">more_vert</i></span>
                    <center><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">mode_edit</i></a></center>
                  </div>

                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Modificar cliente<i class="material-icons right">close</i></span>

                          <blockquote>
                          <p class="flow-text">
                          Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.
                          </p>
                          </blockquote>
                      </div>
          </div>
        </div>
        <!--fin -->
      </div>
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">speaker_notes</i>Registro de actividad</div>
      <div class="collapsible-body">
        <div class="row">
        {% for log in Llogs %}
          <div class="col s12 m4">
            <div class="card-panel teal hoverable">
              <span class="white-text">
                <blockquote><strong># {{log.id}} - </strong>{{log.registro|slice:'0:70'}}...</blockquote>
              </span>
              <div class="footer-copyright right-align white-text">
            {{log.fecha}} - <a class="btn-floating btn-small waves-effect waves-light green modal-trigger" href="#ModalLog{{log.id}}"><i class="material-icons">clear_all</i></a></div>
            <div id="ModalLog{{log.id}}" class="modal">
            <div class="modal-content">
            <p class="black-text center-align"><strong># {{log.id}} - </strong>{{log.registro}}
            <br><br>
            {{log.fecha}}
            <br><br>
            <button class="modal-close btn waves-effect waves-teal"><i class="large material-icons">thumb_up</i></button>  
            </p>
            </div>
            </div>
            </div>
          </div>
        {%endfor%}  
        </div>
        <br>
        <ul class="pagination center">
    {%if Llogs.number > 1%}
      <li class="waves-effect"><a href="?page={{ Llogs.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {%else%}
      <li class="disabled"><i class="material-icons">chevron_left</i></li>
    {%endif%}
    
      {% for log in page_range %}
      
      {%if log == Llogs.number%}
        <li class="active"><a href="?page={{log}}">{{log}}</a></li>
      {%else%}  
        <li class="waves-effect"><a href="?page={{log}}">{{log}}</a></li>
      {%endif%}
      
      
      
    {%endfor%}  

    {%if Llogs.number < count %}
      <li class="waves-effect"><a href="?page={{ Llogs.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
    {%else%}
      <li class="disabled"><i class="material-icons">chevron_right</i></li>
    {%endif%}

    
  </ul>

      <br>
      </div>
  </li>
      </div>
      </div>
    
{% endblock %}