{% extends 'structure.html' %}

{% block body %}

	<div class="row">
		 
	 <div class="card col s12 l4  red lighten-5">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://product-images.www8-hp.com/digmedialib/prodimg/lowres/c02931948.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Generar codigo<i class="mdi-navigation-more-vert right"></i></span>
      
      <div class="card-action">
        <a class="waves-effect waves-light btn right"><i class="mdi-navigation-chevron-right right"></i>IR</a>
      </div>

    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Generar codigo<i class="mdi-navigation-close right"></i></span>
        <p class="flow-text">Genere un nuevo codigo parta un caretucho no existente en nuestra base de datos, recuerde que debera agregar un cliente y un servicio.</p>

    </div>
  </div>


  <div class="card col s12 l4 purple lighten-3">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://product-images.www8-hp.com/digmedialib/prodimg/lowres/c02931948.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Generar codigo<i class="mdi-navigation-more-vert right"></i></span>
      
      <div class="card-action">
        <a class="waves-effect waves-light btn right"><i class="mdi-navigation-chevron-right right"></i>IR</a>
      </div>

    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Generar codigo<i class="mdi-navigation-close right"></i></span>
      <p class="flow-text">Genere un nuevo codigo parta un caretucho no existente en nuestra base de datos, recuerde que debera agregar un cliente y un servicio.</p>
    </div>
  </div>


  <div class="card col s12 l4 deep-purple lighten-2">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://product-images.www8-hp.com/digmedialib/prodimg/lowres/c02931948.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Generar codigo<i class="mdi-navigation-more-vert right"></i></span>
      
      <div class="card-action">
        <a class="waves-effect waves-light btn right"><i class="mdi-navigation-chevron-right right"></i>IR</a>
      </div>

    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Generar codigo<i class="mdi-navigation-close right"></i></span>
      <p class="flow-text">Genere un nuevo codigo parta un caretucho no existente en nuestra base de datos, recuerde que debera agregar un cliente y un servicio.</p>
    </div>
  </div>


  <div class="card col s12 l4  blue darken-1">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://product-images.www8-hp.com/digmedialib/prodimg/lowres/c02931948.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Generar codigo<i class="mdi-navigation-more-vert right"></i></span>
      
      <div class="card-action">
        <a class="waves-effect waves-light btn right"><i class="mdi-navigation-chevron-right right"></i>IR</a>
      </div>

    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Generar codigo<i class="mdi-navigation-close right"></i></span>
      <p class="flow-text">Genere un nuevo codigo parta un caretucho no existente en nuestra base de datos, recuerde que debera agregar un cliente y un servicio.</p>
    </div>
  </div>


  <div class="card col s12 l4  green lighten-4">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://product-images.www8-hp.com/digmedialib/prodimg/lowres/c02931948.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Generar codigo<i class="mdi-navigation-more-vert right"></i></span>
      
      <div class="card-action">
        <a class="waves-effect waves-light btn right"><i class="mdi-navigation-chevron-right right"></i>IR</a>
      </div>

    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Generar codigo<i class="mdi-navigation-close right"></i></span>
      <p class="flow-text">Genere un nuevo codigo parta un caretucho no existente en nuestra base de datos, recuerde que debera agregar un cliente y un servicio.</p>
    </div>
  </div>

	</div>  


{% endblock %}