{% extends 'structure.html' %}

{% block title%} Generar codigo {% endblock %}
{% block slider %}{% endblock %}
{% block body %} 


     

  <form method="POST"> {% csrf_token %}
	
	<div class="row">
		
		<div class="input-field col s12 l6">
          <i class="material-icons prefix">print</i>
          <input id="icon_prefix" type="text" class="validate" placeholder="Modelo de impresora" name="modelo_impresora" value="{{ modelo_impresora }}"></input>
        </div>

		<div class="input-field col s12 l6">
          <i class="material-icons prefix">code</i>
          <input id="icon_prefix" type="text" class="validate" placeholder="Modelo de toner" name="modelo_toner" value="{{ modelo_toner }}"></input>
        </div>

		
		<div class="input-field col s12 l6">
          <i class="material-icons prefix">cached</i>
          <input id="icon_prefix" type="text" class="validate" placeholder="Numero de recargas maxima" name="numero_recarga" value="{{numero_recarga}}"></input>
        </div>


		<div class="input-field col s12 l6">
		    <select name="cliente">
		      <option disabled selected>Cliente</option>
		      
		      {% for client in Lclients %}
		      	<option value="{{client.id}}">{{client.nombre}} ({{client.empresa}}) ({{client.direccion}})</option>
		      {% endfor %}

		    </select>
		    
		</div>
		
		<div class="input-field col s12">
          <i class="material-icons prefix">description</i>
          <textarea id="icon_prefix" class="materialize-textarea" name="descripcion">{{descripcion}}</textarea>
          <label for="icon_prefix2">Descripcion</label>
        </div>


        <div class="input-field col s12">
          <i class="material-icons prefix">pageview</i>
          <textarea id="icon_prefix" class="materialize-textarea" name="observaciones">{{observaciones}}</textarea>
          <label for="icon_prefix2">Observaciones</label>
        </div>
	
        
	  	
		<button type="submit" class="btn waves-effect waves-light col s12">Ingresar</button>
		
		
	</div>	
	  </form>

{% endblock %}