<html>
<head>
	<title>{% block title %} {%endblock%}</title>
  {% load staticfiles %}

  {% include 'material/includes/material_css.html' %}
  <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
  {% include 'material/includes/material_js.html' %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
	<body class="teal">
  {% block menu %}
  <div class="navbar-fixed">
  
  <nav class="teal" role="navigation">
  <ul id="ListUsuario" class="dropdown-content">
  <li><a href="#!">Perfil</a></li>
  <li><a href="#!">Preferencias</a></li>
  <li class="divider"></li>
  <li><a href="/logout">salir</a></li>
  </ul>

  <nav class="teal" role="navigation">
  <ul id="ListCodigo" class="dropdown-content">
  <li><a href="/newcartridges">Agregar</a></li>
  <li><a href="/list_cartridges">Gestionar</a></li>
  <li><a href="#modalsearch" class="modal-trigger">Consultar</a></li>
  </ul>

  <nav class="teal" role="navigation">
  <ul id="ListClientes" class="dropdown-content">
  <li><a href="/newclient">Agregar</a></li>
  <li><a href="/list_clients">Gestionar</a></li>
  <li><a href="#ModalSearchClients" class="modal-trigger">Consultar</a></li>
  </ul>

  <nav class="teal" role="navigation">
  <ul id="ListShow" class="dropdown-content">
  <li><a href="/select_tag_cartridges/green">E - verde</a></li>
  <li><a href="/select_tag_cartridges/yellow">E - Amarilla</a></li>
  <li><a href="/select_tag_cartridges/red">E - Roja</a></li>
  </ul>

    <div class="nav-wrapper">
      <a href="/" class="brand-logo">CLTA<i class="mdi-action-language right"></i></a>
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

      <ul class="right hide-on-med-and-down">
        
        <li>



          <form action="/list_cartridges" method="POST"> {% csrf_token %}
            <div class="input-field">
              <input id="search" type="search" name="code" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>

            </div>
          </form>
        </li>

        <li><a class="dropdown-button" href="#!" data-activates="ListShow
        ">Mostrar
        <i class="mdi-action-dashboard left"></i><i class="mdi-hardware-keyboard-arrow-down right"></i></a></li>


        <li><a class="dropdown-button" href="#!" data-activates="ListClientes
        ">Clientes
        <i class="mdi-social-group left"></i><i class="mdi-hardware-keyboard-arrow-down right"></i></a></li>
        

        <li><a class="dropdown-button" href="#!" data-activates="ListCodigo
        ">Cartuchos
        <i class="material-icons left">credit_card</i><i class="mdi-hardware-keyboard-arrow-down right"></i></a></li>
        
        <li><a class="dropdown-button" href="#!" data-activates="ListUsuario">
        {{user.username.capitalize}}
        <i class="mdi-hardware-keyboard-arrow-down right"></i><i class="material-icons left">person_pin</i></a></li>
      </ul>
      
      <ul class="side-nav" id="mobile-demo">
        <li><a class="dropdown-button" href="/newclient">Nuevo cliente
        <i class="material-icons left">view_module</i></a></li>

        <li><a class="dropdown-button" href="/list_clients">Listar cliente
        <i class="material-icons left">view_module</i></a></li>

      </ul>
    </div>
  </nav>
  </div>
   {%endblock%}

{% if messages %}
  {% for message in messages %}
  
  <script type="text/javascript">
    Materialize.toast('{{message}}', 9000)
  </script>
  
  {% endfor %}
{% endif %}

    {% block slider %}
      <script type="text/javascript">
  $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
</script>
<div class="slider">
    <ul class="slides">
      <li>
        <img src="http://www.globaltonersc.mx/images/stories/virtuemart/product/toner-gen-san-111.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Toner monocromatico.!</h3>
          <h5 class="light grey-text text-lighten-3">Hp, Samsung, Brother.</h5>
        </div>
      </li>
      <li>
        <img src="http://www.dimencolor.com/pics/contenido/ce26p1.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Llena tu vida de color.</h3>
          <h5 class="light grey-text text-lighten-3">Toner alto rendimiento color.</h5>
        </div>
      </li>
      <li>
        <img src="http://lh3.ggpht.com/u5E7bDYBGyOLpzBzD5Ab72I_hTVgiwaYfn_EPFMIgs5B3du6f5Y0ORls6JouwtSxnDxSNXChGF772f_KTETsvOgRHw=s1101"> <!-- random image -->
        <div class="caption right-align">
          <h3>Cartuchos de tinta.</h3>
        </div>
      </li>
      <li>
        <img src="http://maybecomputacion.com.ar/images/impresora-1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Calidad original!</h3>
          <h5 class="light grey-text text-lighten-3">Aseguramos calidad original en todos tus cartuchos recargados o remanufacturados.</h5>
        </div>
      </li>
    </ul>
  </div>
    {% endblock %}
    
        <div class="card-panel col s12 l2"> 
          <span class="black-text">
              {% block body %}
              {% endblock %}
          </apan>
        </div>
    

	</body>

     {% block footer %}
      <style type="text/css"> 
        body
        { 
          color: white; 
        } 
      </style> 
     <footer class="page-footer teal">
          
             <center>
               <div class="row">

      <div class="col s12 l4">
        <div class="section">
          <i class="large material-icons">insert_chart</i>
          <h4><strong>Acelera el desarrollo</strong></h4>
          <p class="flow-text">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="section">
          <i class="large material-icons">insert_chart</i>
          <h4><strong>Acelera el desarrollo</strong></h4>
          <p class="flow-text">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="section">
          <i class="large material-icons">insert_chart</i>
          <h4><strong>Acelera el desarrollo</strong></h4>
          <p class="flow-text">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
        </div>
      </div>

    </div>
             </center>


          <div class="footer-copyright">
            <div class="container">
            © 2016 Todos los derechos reservados.
            </div>
          </div>
        </footer>
     {% endblock %}


   <script type="text/javascript">
    $(document).ready(function(){
      $('.modal-trigger').leanModal();
    });
   </script>
  <!-- Modal search cartridges -->
  <div id="modalsearch" class="modal">
    <div class="modal-content">
      <span class="black-text">
        <h4>Ingrese codigo que desea consultar.</h4>
        
    <form action="/list_cartridges"  class="col s12" method="POST"> {% csrf_token %}
        
        <div class="input-field col s12">
          <i class="material-icons prefix">search </i>
          <input id="icon_prefix" type="number" class="validate" autofocus="true" name="code">
          <label for="icon_prefix">Codigo de cartucho</label>
        </div>

        <center>
          <button type="submit" class="modal-action modal-close btn waves-effect waves-light col s12">Ingresar</button>
        </center>
    
    </form>  

      </span>
    </div>
  </div>

  <!-- Modal search clients -->
  <div id="ModalSearchClients" class="modal">
    <div class="modal-content">
      <span class="black-text">
        <h4>Ingrese nombre o apellido del cliente.</h4>
        
    <form action="/list_clients"  class="col s12" method="POST"> {% csrf_token %}
    
        
        <div class="input-field col s12">
          <i class="material-icons prefix">search </i>
          <input id="icon_prefix" type="text" class="validate" autofocus="True" name="search">
          <label for="icon_prefix">Cliente</label>
        </div>

        <center>
          <button type="submit" class="modal-action modal-close btn waves-effect waves-light col s12">Ingresar</button>
        </center>
    
    </form>  

      </span>
    </div>
  </div>


</html>